
@model WebApplication1.Entities.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("Add", "Account", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Username</td>
                    <td>@Html.TextBoxFor(a=>a.Username)</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>@Html.TextBoxFor(a=>a.Password)</td>
                </tr>
                <tr>
                    <td>Fullname</td>
                    <td>@Html.TextBoxFor(a=>a.Fullname)</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>@Html.CheckBoxFor(a=>a.Status)</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Save" />
                    </td>
                </tr>

            </table>
        }

    </div>
</body>
</html>
